@model Joja.Api.Models.Product
<div class="product-card-wrap">
    <div class="product-card h-100 d-flex flex-column">
        
        <div class="image-box">
            <a href="/Home/Details/@Model.Id">
                <img src="@Model.MainImageUrl" class="product-img" alt="@Model.Name">
            </a>
        </div>

        <div class="product-info text-center mt-2 flex-grow-1">
            <a href="/Home/Details/@Model.Id" style="text-decoration: none;">
                <h5 class="product-title" title="@Model.Name">@Model.Name</h5>
            </a>
            
            <div class="product-price mt-1">
                @if (Model.OriginalPrice.HasValue && Model.OriginalPrice > Model.Price)
                {
                    <span class="old-price">@Model.OriginalPrice.Value EGP</span>
                }
                <span class="new-price">@Model.Price EGP</span>
            </div>
        </div>
        
    </div>
</div>
