@model IEnumerable<Joja.Api.Models.Product>

@foreach (var product in Model)
{
    <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="product-item text-center">
            <a href="/Home/Details/@product.Id" class="d-block position-relative image-box">
                @if (product.OriginalPrice.HasValue && product.OriginalPrice > product.Price)
                {
                    var discount = Math.Round((decimal)((product.OriginalPrice.Value - product.Price) / product.OriginalPrice.Value * 100));
                    <span class="discount-badge">خصم @discount%</span>
                }
                <img src="@product.MainImageUrl?.Replace("/upload/", "/upload/w_400,q_auto,f_auto/")" alt="@product.Name" class="product-img" />
            </a>
            
            <div class="product-info mt-3">
                <a href="/Home/Details/@product.Id">
                    <h5 class="product-title">@product.Name</h5>
                </a>
                <div class="product-price">
                    @if (product.OriginalPrice.HasValue && product.OriginalPrice > product.Price)
                    {
                        <span class="old-price">@product.OriginalPrice.Value EGP</span>
                        <span class="new-price">@product.Price EGP</span>
                    }
                    else
                    {
                        <span class="new-price">@product.Price.ToString("0.00") EGP</span>
                    }
                </div>
            </div>
        </div>
    </div>
}
